<!--보관함에서 게시물 눌렀을 때 게시글 보여주는 page-->
<!DOCTYPE html>
<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
        <div class="table table-responsive">
        <table class="table">

        <tr>
            <th class="success">글번호</th>
            <td><%= docdata.docID %></td>
            <th class="success">작성일</th>
            <td><%= docdata.date.toLocaleString("en-US"); %></td>
        </tr>
           
         
        <tr>
            <th class="success">제목</th>
            <td><%= docdata.title %></td>
            <th class="success">작성자</th>
            <td><%= docdata.userID %></td>
        </tr>
        
        <tr>
            <th class="success">내용</th>
        </tr>

        <div class="btn-container"><a class="btn standard-btn" href="/storage/list">돌아가기</a>
            <a class="btn standard-btn" href="/storage/edit/?index=<%= docdata.docID %>">수정하기</a>
            <a class="btn standard-btn" onclick="return confirm('삭제하시겠습니까?')" href="/storage/document/del/?index=<%= docdata.docID %>">삭제하기</a></div>
        </table>

        <tr><img class="doc-image" src= "<%= docdata.filePath %>"></tr>
        
    </div>     
    </div>
</div>
</div>