<!--보관함에서 게시물 눌렀을 때 게시글 보여주는 page-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
        <div class="table table-responsive">
        <table class="table">

        <tr>
            <th class="success">글번호</th>
            <td><%= prodata.docID %></td>
            <th class="success">제목</th>
            <td><%= prodata.title %></td>
        </tr>
           
         
        <tr>
            <th class="success">작성일</th>
            <td><%= prodata.date.toLocaleString("en-US"); %></td>
            <th class="success">작성자</th>
            <td><%= prodata.userID %></td>
        </tr>
        
        <tr>
            <th class="success">내용</th>
            <td colspan="3"><%= prodata.filePath %></td>
        </tr>
         
        <tr>
            <td colspan="4" class="text-center">
            <a type="button" class="btn btn-primary" href="/storage/list"> 돌아가기 </a>
            </td>
        </tr>
        </table>
    </div>
     
    </div>
</div>
</div>
</body>
</html>