<!-- 유저 프로필 -->
<div class="profile-page">
        <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                           <div class="profile">
                                <div class="avatar">
                                    <img alt="Circle Image" class="img-raised rounded-circle img-fluid" src=<%= userdata.userPic %>>
                                </div>
                                <div class="name">
                                    <h3 class="title"><%= userdata.userName %></h3>
                                    <h6><%= userdata.userID %></h6>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="description text-center">
                        <p><%= userdata.userInfo %></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="profile-tabs">
                              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/users/profile/edit/?user=<%= userdata.userID %>">
                                      Edit Profile
                                    </a>
                                </li>
                              </ul>
                            </div>
                    </div>
                </div> 
              </div>
            </div>
        </div>    
    </div>